.order-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f5f7fb;

font-family:Roboto, sans-serif;

}



.order-card{


width:420px;

padding:35px;

background:white;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.12);

text-align:center;

}



.order-card h2{

margin-bottom:30px;

color:#333;

}




.info{


font-size:18px;

margin-bottom:25px;

}




.options{


display:flex;

flex-direction:column;

gap:20px;

align-items:flex-start;

margin:30px 0;

}




.price-box{


background:#f0f5ff;

padding:20px;

border-radius:15px;

font-size:20px;

font-weight:500;

margin-bottom:30px;

}




.price-box span{


color:#1976d2;

font-size:26px;

font-weight:bold;

}



.order-btn{


width:100%;

height:50px;

font-size:18px;

border-radius:12px;

}



/* SUCCESS */

.success-overlay{


position:fixed;

top:0;

left:0;

width:100%;

height:100%;


background:white;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


z-index:1000;


animation:fade .3s ease;

}



.success-circle{


width:100px;

height:100px;


border-radius:50%;


background:#4caf50;


color:white;


display:flex;

align-items:center;

justify-content:center;


font-size:60px;


animation:scale .5s ease;



}





.success-overlay h2{


color:#4caf50;

margin-top:25px;

}



.success-overlay p{


color:#777;

}




@keyframes scale{


from{

transform:scale(0);

}


to{

transform:scale(1);

}


}




@keyframes fade{


from{

opacity:0;

}


to{

opacity:1;

}


}